#generated project files
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
bin
bin-int
.vs


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo