[submodule "submodules/imgui"]
	path = submodules/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "submodules/assimp"]
	path = submodules/assimp
	url = https://github.com/assimp/assimp.git
[submodule "submodules/vk-bootstrap"]
	path = submodules/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap.git
[submodule "submodules/entt"]
	path = submodules/entt
	url = https://github.com/skypjack/entt.git
[submodule "submodules/ImGuizmo"]
	path = submodules/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "submodules/yaml-cpp"]
	path = submodules/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "submodules/spirv_reflect"]
	path = submodules/spirv_reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
